.App {
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}
.columnThirds {
  width: 99mm;
  float: left;
}
.rowThirds:after {
  content: "";
  display: table;
  table-layout: fixed;
  clear: both;
}

.mt4 {
  background-color: '#f5f5f5';
  width: '297mm';
  height: '210mm';
}
.logo {
  position: relative;
  left: -495px;
}

#container {
  height: 300px;
  width: 100%;
}

#chartFiveContainer {
  height: 319px;
  width:100%;
}

#piecontainer {
  height: 800px;
  width: 800px;
  padding: 10px;
}

#note {
  margin-top: 8px;
  margin-left: 76px;
  margin-right: 49px;
  font-size: 12px;
  text-align: left;
  color: white;
}
.panel-title {
  font-size: 16px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.App-header {
  background-color: rgb(255, 249, 249);
  position: relative;
  text-align: center;
  height: 150px;
  color: rgb(12, 11, 11);
}
.MasterHeader {
  height: 27px;
  width: 297mm;
  background-color: #488AC7;
}
.MasterText {
  color: rgb(255, 255, 255);
  margin: auto;
  font-size: 17px;
}

.App-title {
  font-size: 1.5em;
  position: absolute;
  top: 85px;
  left: 16px;
}

.Button1 {
  position: absolute;
  top: 95px;
  right: 16px;
}

.App-intro {
  font-size: large;
}

.tabColor ul > li > a {
  background-color: white;
  color: #488AC7;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
p.alignleft {
  float: left;
  margin-left: 90px;
  font-size: 15px;
}
p.alignright {
  float: right;
  margin-right: 49px;
}

p.aligncenter {
  margin: auto
}

#table {
  width: 90%;
  margin: auto;
  height: 300px;
}
#table2 {
  width: 90%;
  margin: auto;
  height: 470px;
}
#table3 {
  width: 90%;
  margin: auto;
  height: 500px;
}
#table4 {
  width:90%;
  margin:auto;
  height: 180px;
}
#table5 {
  width:90%;
  margin:auto;
  height: 210px;
}

.res-block {
  display: inline-block;
}
