.App {
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}
.columnThirds {
  width: 99mm;
}
.rowThirds {
 display: table;
 table-layout: fixed;
}

.mt4 {
  background-color: '#f5f5f5';
  width: '297mm';
  min-height: '210mm';
  margin-left: 'auto';
  margin-right: 'auto';
}

#container {
  height: 300px;
  width: 100%;
}

#chartFiveContainer {
  height: 319px;
  width:100%;
}

#piecontainer {
  height: 800px;
  width: 800px;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  position: absolute;
  top: 8px;
  left: 16px;
}

.App-header {
  background-color: rgb(255, 249, 249);
  position: relative;
  text-align: center;
  height: 150px;
  color: rgb(12, 11, 11);
}
.MasterHeader {
  height: 27px;
  width: 297mm;
  background-color: #488AC7;
}
.MasterText {
  color: rgb(255, 255, 255);
  margin: auto;
  font-size: 17px;
}

.App-title {
  font-size: 1.5em;
  position: absolute;
  top: 85px;
  left: 16px;
}

.Button1 {
  position: absolute;
  top: 95px;
  right: 16px;
}

.App-intro {
  font-size: large;
}

.tabColor ul > li > a {
  background-color: white;
  color: #488AC7;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
