.App {
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}

.columnThirds {
  width: 99mm;
  float: left;
}

.rowThirds:after {
  content: "";
  display: table;
  table-layout: fixed;
  clear: both;
}

.mt4 {
  background-color: '#f5f5f5';
  width: '297mm';
  min-height: '210mm';
}

#master-header {
  height: 120px;
  width: 100%;
}

.master-week {
  position: absolute;
  left: 20px;
  top: 275px;
  font-size: 1.4em;
  color: #316ca4;
}

.week-button {
  position: absolute;
  top: 95px;
  right: 250px;
  width: 130px
}

.logo-master {
  position: absolute;
  left: 20px;
  top: 215px;
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

#container {
  height: 300px;
  width: 100%;
}

#chartFiveContainer {
  height: 319px;
  width:100%;
}

#piecontainer {
  height: 800px;
  width: 800px;
  padding: 10px;
}

#note {
  margin-top: 10px;
  margin-left: 76px;
  margin-right: 49px;
  font-size: 15px;
  text-align: left;
  line-height: 40px;
  max-height: 40px;
  padding-left: 5px;
}

#editNote {
  margin-top: 10px;
  margin-left: 76px;
  margin-right: 49px;
  font-size: 15px;
}

#Mnote {
  font-size: 11px;
  text-align: left;
  margin-left: 43px;
  margin-right: 27px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 22px;
  max-height: 22px;
}

span {
  display: inline-block;
  vertical-align: center;
  line-height: normal;
  padding-left: 5px;
}

.panel-title {
  font-size: 16px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.App-header {
  background-color: #316ca4;
  position: relative;
  text-align: center;
  height: 150px;
  color: white;
}
.MasterTitle {
  height: 27px;
  width: 297mm;
  background-color: #316ca4;
}

.MasterTitle2 {
  height: 27px;
  width: 198mm;
  background-color: #316ca4;
}

.MasterText {
  color: rgb(255, 255, 255);
  margin: auto;
  font-size: 17px;
}

.App-title {
  font-size: 1.5em;
  position: absolute;
  top: 85px;
  left: 20px;
}

.Button1 {
  position: absolute;
  top: 95px;
  right: 16px;
}

.Button2 {
  position: absolute;
  top: 95px;
  right: 140px;
}

.App-intro {
  font-size: large;
}

.tabColor ul > li > a {
  background-color: white;
  color: #316ca4;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
p.alignleft {
  float: left;
  margin-left: 76px;
  font-size: 16px;
}
p.alignright {
  float: right;
  margin-right: 49px;
}

p.aligncenter {
  margin: auto
}

#table {
  margin-left: 76px;
  margin-right: 49px;
  height: 300px;
  margin-bottom: 30px;
}
#table2 {
  margin-left: 76px;
  margin-right: 49px;
  height: 490px;
  margin-bottom: 20px;
}
#table3 {
  margin-left: 76px;
  margin-right: 49px;
  height: 570px;
  margin-bottom: 30px;
}
#table4 {
  margin-left: 76px;
  margin-right: 49px;
  height: 180px;
  margin-bottom: 15px
}
#table5 {
  margin-left: 76px;
  margin-right: 49px;
  height: 200px;
  margin-bottom: 40px;
}
#table6 {
  margin-left:76px;
  margin-right: 49px;
  height: 110px;
  margin-bottom: 40px;
}

.res-block {
  display: inline-block;
}
