body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
p.alignleft {
  float: left;
  margin-left: 90px;
  font-size: 15px;
}
p.alignright {
  float: right;
  margin-right: 45px;
}
table {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 5px;
}