body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
p.alignleft {
  float: left;
  margin-left: 90px;
  font-size: 15px;
}
p.alignright {
  float: right;
  margin-right: 49px;
}

p.aligncenter {
  margin: auto
}

#table {
  width: 90%;
  margin: auto;
  height: 300px;
}
#table2 {
  width: 90%;
  margin: auto;
  height: 470px;
}
#table3 {
  width: 90%;
  margin: auto;
  height: 500px;
}
#table4 {
  width:90%;
  margin:auto;
  height: 180px;
}
#table5 {
  width:90%;
  margin:auto;
  height: 210px;
}

.res-block {
  display: inline-block;
}